@use "sass:math";
:root {
    --theme-color: #684df4;
    --title-color: #141d38;
    --body-color: #737887;
    --smoke-color: #f5f5f5;
    --smoke-color2: #e2e8fa;
    --black-color: #000000;
    --black-color2: #080e1c;
    --gray-color: #bdbdbd;
    --white-color: #ffffff;
    --light-color: #72849b;
    --yellow-color: #ffb539;
    --success-color: #28a745;
    --error-color: #dc3545;
    --th-border-color: #e0e0e0;
    --title-font: "Poppins", sans-serif;
    --body-font: "Poppins", sans-serif;
    --icon-font: "Poppins", sans-serif;
    --main-container: 1220px;
    --container-gutters: 24px;
    --section-space: 120px;
    --section-space-mobile: 80px;
    --section-title-space: 60px;
    --ripple-ani-duration: 5s;
}

.movingX {
    -webkit-animation: movingX 8s linear infinite;
    animation: movingX 8s linear infinite;
}
@-webkit-keyframes movingX {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes movingX {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.moving {
    -webkit-animation: moving 8s linear infinite;
    animation: moving 8s linear infinite;
}
@-webkit-keyframes moving {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes moving {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.th-widget-about .about-logo {
    margin-bottom: 35px;
    margin-top: -8px;
}
.th-widget-about .about-text {
    margin-bottom: 25px;
    margin-top: -0.5em;
}
.footer-text {
    margin-top: -0.46em;
    margin-bottom: 25px;
}
.social-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.social-box .social-title {
    font-size: 20px;
    color: var(--white-color);
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: 0;
}
.icon-group a {
    color: var(--white-color);
    font-size: 18px;
    margin-right: 17px;
}
.icon-group a:last-child {
    margin-right: 0;
}
.newsletter-widget {
    max-width: 290px;
}
.newsletter-widget .form-control {
    background-color: var(--white-color) !important;
    border: 1px solid var(--th-border-color);
}
.newsletter-form {
    position: relative;
    max-width: 465px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
}
.newsletter-form .th-btn {
    min-width: 145px;
    padding: 21px 20px;
}
@media (max-width: 1199px) {
    .footer-widget.widget_meta a,
    .footer-widget.widget_pages a,
    .footer-widget.widget_archive a,
    .footer-widget.widget_categories a,
    .footer-widget.widget_nav_menu a {
        margin-bottom: 16px;
    }
}
@media (max-width: 767px) {
    .footer-widget .widget_title {
        margin-bottom: 35px;
    }
    .th-widget-about .about-text {
        margin-bottom: 20px;
    }
    .social-box.mb-30 {
        margin-bottom: 25px;
    }
}
.th-header {
    position: relative;
    z-index: 41;
}
.sticky-wrapper {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.sticky-wrapper.sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--white-color);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-animation: stickyAni 0.4s ease-in-out;
    animation: stickyAni 0.4s ease-in-out;
}
@-webkit-keyframes stickyAni {
    0% {
        -webkit-transform: translate3d(0, -40px, 0) scaleY(0.8);
        transform: translate3d(0, -40px, 0) scaleY(0.8);
        opacity: 0.7;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scaleY(1);
        transform: translate3d(0, 0, 0) scaleY(1);
        opacity: 1;
    }
}
@keyframes stickyAni {
    0% {
        -webkit-transform: translate3d(0, -40px, 0) scaleY(0.8);
        transform: translate3d(0, -40px, 0) scaleY(0.8);
        opacity: 0.7;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scaleY(1);
        transform: translate3d(0, 0, 0) scaleY(1);
        opacity: 1;
    }
}
.main-menu a {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    color: var(--title-color);
    font-family: var(--title-font);
    text-transform: uppercase;
}
.main-menu a:hover {
    color: var(--theme-color);
}
.main-menu > ul > li {
    margin: 0 14px;
}
.main-menu > ul > li > a {
    padding: 47px 0;
}
.main-menu > ul > li > a:hover {
    color: var(--theme-color);
}
.main-menu ul {
    margin: 0;
    padding: 0;
}
.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    position: relative;
}
.main-menu ul li.menu-item-has-children > a:after {
    content: "\f078";
    position: relative;
    font-family: var(--icon-font);
    margin-left: 4px;
    font-weight: 600;
    top: 0;
    font-size: 1em;
}
.main-menu ul li:last-child {
    margin-right: 0 !important;
}
.main-menu ul li:first-child {
    margin-left: 0 !important;
}
.main-menu ul li:hover > ul.sub-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    z-index: 9;
}
.main-menu ul.sub-menu {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: var(--white-color);
    visibility: hidden;
    min-width: 190px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 7px;
    left: -14px;
    opacity: 0;
    z-index: -1;
    border: 0;
    box-shadow: 0px 4px 15px rgba(1, 15, 28, 0.06);
    border-radius: 0;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.main-menu ul.sub-menu a {
    font-size: 16px;
    line-height: 30px;
}
.main-menu ul.sub-menu {
    padding: 18px 20px 18px 18px;
    left: -27px;
}
.main-menu ul.sub-menu li {
    display: block;
    margin: 0 0;
    padding: 0px 9px;
}
.main-menu ul.sub-menu li.menu-item-has-children > a:after {
    content: "\f105";
    float: right;
    top: 1px;
}
.main-menu ul.sub-menu li a {
    position: relative;
    padding-left: 23px;
    text-transform: capitalize;
}
.main-menu ul.sub-menu li a:before {
    content: "\f649";
    position: absolute;
    top: 8px;
    left: 0;
    font-family: var(--icon-font);
    width: 11px;
    height: 11px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1;
    color: var(--theme-color);
    font-weight: 500;
}
.main-menu ul.sub-menu li ul.sub-menu {
    left: 100%;
    right: auto;
    top: 0;
    margin: 0 0;
    margin-left: 20px;
}
.main-menu ul.sub-menu li ul.sub-menu li ul {
    left: 100%;
    right: auto;
}
.main-menu.style2 > ul > li {
    margin: 0 6px;
}
.main-menu.style2 > ul > li > a {
    padding: 2px 16px;
    border-radius: 100px;
    background-color: transparent;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.main-menu.style2 > ul > li > a:hover {
    background-color: rgba(64, 102, 242, 0.1);
}
.main-menu.style2 ul.sub-menu {
    padding: 18px 20px 18px 18px;
    left: -27px;
    margin-top: 15px;
}
.header-button {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
}
.header-button .icon-btn {
    position: relative;
}
.header-button .icon-btn:hover {
    color: var(--white-color);
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}
.header-button .icon-btn:hover .badge {
    background-color: var(--white-color);
    color: var(--theme-color);
}
.header-links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.header-links li {
    display: inline-block;
    position: relative;
    font-size: 16px;
    font-weight: 400;
}
.header-links li:not(:last-child) {
    margin: 0 26px 0 0;
}
.header-links li > i {
    margin-right: 6px;
}
.header-links li,
.header-links span,
.header-links p,
.header-links a {
    color: var(--body-color);
}
.header-links a:hover {
    color: var(--theme-color);
}
.header-links i {
    color: var(--body-color);
}
.header-links b,
.header-links strong {
    font-weight: 600;
}
.header-social .social-title {
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    margin: 0 15px 0 0;
    color: var(--body-color);
}
.header-social a {
    font-size: 16px;
    display: inline-block;
    color: var(--body-color);
    margin: 0 15px 0 0;
}
.header-social a:last-child {
    margin-right: 0;
}
.header-social a:hover {
    color: var(--theme-color);
}
.header-logo {
    padding-top: 15px;
    padding-bottom: 15px;
}
@media (max-width: 1199px) {
    .main-menu > ul > li > a {
        padding: 37px 0;
    }
}
.header-layout1 {
    position: relative;
}
.header-layout1 .header-top {
    padding: 17px 0;
    background-color: var(--theme-color);
    --body-color: #fff;
}
.header-layout1 .header-top a:hover {
    color: var(--title-color);
}
.header-layout1 .menu-area {
    position: relative;
    z-index: 2;
    background-color: #080e1c;
}
.header-layout1 .main-menu {
    margin-left: 60px;
}
.header-layout1 .main-menu > ul > li > a:not(:hover) {
    color: var(--white-color);
}
.header-layout1 .menu-area {
    position: relative;
}
.header-layout1 .header-logo {
    position: relative;
    z-index: 2;
}
.header-layout1 .header-button .icon-btn {
    color: var(--white-color);
}
.header-layout1 .logo-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 32.5%;
    height: 100%;
}
.header-layout1 .logo-bg:before,
.header-layout1 .logo-bg:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--theme-color);
    -webkit-clip-path: polygon(0 0, calc(100% - 80px) 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, calc(100% - 80px) 0%, 100% 100%, 0% 100%);
    z-index: -2;
}
.header-layout1 .logo-bg:after {
    background-image: url("../img/theme-img/logo_bg.html");
    background-color: var(--white-color);
    background-repeat: repeat;
    width: calc(100% - 20px);
    -webkit-clip-path: polygon(0 0, calc(100% - 60px) 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, calc(100% - 60px) 0%, 100% 100%, 0% 100%);
    z-index: -1;
}
@media (min-width: 1922px) {
    .header-layout1 .logo-bg {
        width: 37%;
    }
}
@media (max-width: 1500px) {
    .header-layout1 .logo-bg {
        width: 27%;
    }
}
@media (max-width: 1399px) {
    .header-layout1 .header-button .th-btn {
        display: none;
    }
}
@media (max-width: 1199px) {
    .header-layout1 .logo-bg:before {
        -webkit-clip-path: polygon(
            0 0,
            calc(100% - 50px) 0%,
            100% 100%,
            0% 100%
        );
        clip-path: polygon(0 0, calc(100% - 50px) 0%, 100% 100%, 0% 100%);
    }
    .header-layout1 .logo-bg:after {
        -webkit-clip-path: polygon(
            0 0,
            calc(100% - 30px) 0%,
            100% 100%,
            0% 100%
        );
        clip-path: polygon(0 0, calc(100% - 30px) 0%, 100% 100%, 0% 100%);
    }
    .header-layout1 .main-menu {
        margin-left: 30px;
    }
    .header-layout1 .header-top {
        padding: 12px 0;
    }
}
@media (max-width: 991px) {
    .header-layout1 .logo-bg {
        width: 56%;
    }
    .header-layout1 .header-logo img {
        max-height: 80px;
    }
}
@media (max-width: 375px) {
    .header-layout1 .logo-bg {
        width: 70%;
    }
}
@media (max-width: 320px) {
    .header-layout1 .logo-bg {
        width: 80%;
    }
}
.header-layout2 .icon-btn {
    background-color: var(--white-color);
    color: var(--title-color);
    border: 1px solid #ddd;
    border-radius: 50%;
    line-height: 54px;
}
.header-layout2 .icon-btn:hover {
    background-color: var(--theme-color);
    color: var(--white-color);
}
.header-layout2 .main-menu > ul > li > a {
    color: var(--title-color);
    font-weight: 600;
}
.header-layout2 .main-menu > ul > li > a:hover {
    color: var(--theme-color);
}
.header-layout2 ul.sub-menu {
    background-color: #e1eaff;
}
.header-layout2 .header-top {
    padding: 17px 0;
    background-color: var(--theme-color);
    --body-color: #fff;
}
.header-layout2 .header-top a:hover {
    color: var(--title-color);
}
.header-layout2 .menu-area {
    background-color: #e1eaff;
}
@media (max-width: 1199px) {
    .header-layout2 .header-button .th-btn {
        display: none;
    }
    .header-layout2 .header-top {
        padding: 12px 0;
    }
}
.header-layout3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    --main-container: 1700px;
}
.header-layout3 .header-button .icon-btn:not(:hover) {
    border-color: #bdbdbd;
}
.header-layout3 .main-menu > ul > li > a {
    font-weight: 600;
}
@media (max-width: 1399px) {
    .header-layout3 .header-button .th-btn {
        display: none;
    }
}
.header-layout4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header-layout4 .sticky-wrapper.sticky .menu-area {
    background-color: var(--title-color);
}
.header-layout4 .menu-area {
    background: rgba(0, 0, 0, 0.29);
    -webkit-backdrop-filter: blur(7.5px);
    backdrop-filter: blur(7.5px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.36);
    padding: 15px 0;
}
.header-layout4 .main-menu > ul > li > a {
    color: var(--white-color) !important;
    font-size: 16px;
    font-weight: 600;
}
.header-layout4 .main-menu > ul > li > a:after {
    color: var(--white-color) !important;
}
.header-layout4 .main-menu > ul > li > a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-color) !important;
}
.header-layout4 .main-menu > ul > li > a:hover:after {
    color: var(--white-color) !important;
}
.header-layout4 .main-menu ul li.menu-item-has-children > a:after {
    content: "\2b";
    font-size: 12px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.header-layout4 .main-menu ul li.menu-item-has-children > a:hover:after {
    content: "\f068";
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.header-layout4 .header-button .th-btn {
    padding: 17px 42.5px;
    font-weight: 700;
}
@media (max-width: 1199px) {
    .header-layout4 .header-button .th-btn {
        display: none;
    }
}
.header-layout5 {
    position: relative;
}
.header-layout5 .social-links .social-title {
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    margin: 0 10px 0 0;
    letter-spacing: -0.32px;
    font-family: var(--title-font);
    color: var(--title-color);
}
@media (max-width: 1599px) {
    .header-layout5 .social-links .social-title {
        display: none;
    }
}
.header-layout5 .social-links a {
    font-size: 14px;
    display: inline-block;
    color: var(--title-color);
    margin: 0 15px 0 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.header-layout5 .social-links a:last-child {
    margin-right: 0 !important;
}
.header-layout5 .social-links a:hover {
    color: var(--theme-color);
}
.header-layout5 .social-links a:hover i {
    -webkit-animation: slideTop 0.5s;
    animation: slideTop 0.5s;
}
.header-layout5 .header-top {
    background-color: transparent;
    border-bottom: 1px solid #d9d9d9;
    padding: 12px 0;
}
.header-layout5 .header-top .header-links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.header-layout5 .header-top .header-links li {
    display: inline-block;
    position: relative;
    font-family: var(--title-font);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.32px;
}
.header-layout5 .header-top .header-links li:not(:last-child) {
    margin: 0 40px 0 0;
}
@media (max-width: 1699px) {
    .header-layout5 .header-top .header-links li:not(:last-child) {
        margin: 0 14px 0 0;
    }
}
.header-layout5 .header-top .header-links li:not(:last-child):after {
    content: "";
    height: 15px;
    width: 1px;
    background-color: #cad4f1;
    position: absolute;
    top: 5px;
    right: -20px;
}
.header-layout5 .header-top .header-links li > i {
    color: var(--theme-color);
    margin-right: 8px;
}
.header-layout5 .main-menu ul li.menu-item-has-children > a:after {
    content: "\2b";
    font-size: 12px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.header-layout5 .main-menu ul li.menu-item-has-children > a:hover:after {
    content: "\f068";
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.header-layout5 .menu-area {
    padding: 18px 0;
}
.header-layout5 .main-menu {
    margin-right: 150px;
}
@media (max-width: 1399px) {
    .header-layout5 .main-menu {
        margin-right: 0;
    }
}
.header-layout5 .header-button .th-btn {
    padding: 18px 38px;
}
